/* imports */
/* name text */
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");



body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; 
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    /* overflow: hidden;
    background-color: #235e6f;  */
    background-color: #235E6F;
    height: 100vh;
    color: #FFF;
    display: block;

}

/* ******************************* Words name *************************************** */

svg {
	font-family: "Rajdhani", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 6s infinite alternate;
	stroke-width: 2;
	stroke: #1c1c51;
	font-size: 54px;
}
@keyframes stroke {
	0%   {
		fill: rgba(204,204,204,0); stroke: rgb(1, 68, 101);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(204,204,204,0); stroke: rgb(0, 68, 94); }
	80%  {fill: rgba(204,204,204,0); stroke: rgb(0, 69, 90); stroke-width: 3; }
	100% {
		fill: rgba(204,204,204,1); stroke: rgba(160,2,2,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}


 /* ************************************************************************************ */

  /* Merry chritsmas words */
  h1 {
    color: white;
    text-align: center;
    margin: 25px;
    font-family:  "Rajdhani", sans-serif;

  }
  
  .anim-container {
    flex: 1;
  }
  
  .vbox {
    display: flex;
    flex-direction: column;
  }
  
  .hbox {
    display: flex;
    flex-direction: row;
  }
  
  .align-center {
    justify-content: center;
  }
  
  .switch {
    position: absolute;
    cursor: pointer;
    margin: 250px 100px 0px 0px;
  }
  
  .light {
    opacity: 0.55;
  }
  
  .dot {
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    background-size: 100% 100%;
  }
  /* ******************** */


/* play recording button */
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
/* ********************* */
