@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
:root {
  --eyesWidth: 200px; /* Adjust this value to change the size of the eyes */
}

body{
  margin:0; 
  padding:0; 
  background: rgb(143, 103, 88);
  font-family: 'Rajdhani', sans-serif;
}


/* Estilos del modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo difuminado */
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(248, 248, 248, 0.7);;
  padding: 20px;
  /* border: 1px solid #888; */
}
/* 
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
} */



/* hat top */
.hat {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 1%;
  /* transform: translateX(-50%); */
  width: 100%;
  height: 100px;
  background-color: #d9534f; /* Rojo oscuro */
  border-radius: 0 0 10% 10%;
  border: 5px solid #ffffff; /* Blanco */
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra debajo del gorro */
}

.hat-top {
  position: relative;
  width: 100%;
  height: 50%;
  background-color: #ffffff; /* Blanco */
}

.hat-bottom {
  position: relative;
  width: 100%;
  height: 50%;
  background-color: #ffffff; /* Rojo oscuro */
  
}

/* marquee words carrousel */
#question {
  white-space: nowrap;
  overflow: hidden;
  animation: marquee linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.ribbon {
  width: 100%;
  height: 20px;
  background-color: #ffffff; /* Blanco */
  position: absolute;
  top: 25px;
}

/* answerQuestion slide */
@keyframes slide {
  to {
    transform: translateX(100%); /* Desplaza el texto 100% hacia la derecha */
  }
}

.slide-animation {
  display: inline-block; /* Asegura que la animación funciona en línea */
  white-space: nowrap; /* Evita el salto de línea si el texto es demasiado largo */
  overflow: hidden; /* Oculta el texto que se sale del contenedor */
  animation: slide linear infinite; /* Repite la animación infinitamente */
}


/* buton open dinamic */

.button {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  cursor:not-allowed;
}



/* Cejas */
.ceja {
  position: absolute;
  width: 180px; /* Ajusta el ancho según sea necesario */
  height: 20px; /* Ajusta la altura según sea necesario */
  background-color: #8b4513; /* Marrón oscuro */
  border-radius: 50% 50% 0 0; /* Hace que las cejas tengan una forma curva */
}

.ceja-right {
  top: 25%; /* Ajusta la posición vertical según sea necesario */
  left: 70%; /* Ajusta la posición horizontal según sea necesario */
  transform: translate(-50%, -50%) rotate(-5deg); /* Rota la ceja hacia arriba */
}

.ceja-left {
  top: 25%; /* Ajusta la posición vertical según sea necesario */
  left: 30%; /* Ajusta la posición horizontal según sea necesario */
  transform: translate(-50%, -50%) rotate(+5deg); /* Rota la ceja hacia arriba */
}





/* eyes */

svg {
  width: 40vh;
  height: 40vh;
  display: flex;
  flex-direction: row;
  animation: squeeze 2.3s infinite;
}

#inner {
  animation: blink 2.3s infinite;
}

@keyframes blink {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(50%) scaleY(0);
  }
  100% {
    animation-timing-function: ease-out;
  }
}
@keyframes squeeze {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(3px) scaleY(0.8);
  }
  100% {
    animation-timing-function: ease-out;
  }
}
